body {
  font-family: "League Spartan", sans-serif;
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.left,
.right {
  width: 40%;
  padding: 30px;
}

.left h1 {
  margin-bottom: 10px;
  color: hsl(300, 43%, 22%);
  font-size: 60px;
}

.left p {
  color: hsl(300, 43%, 22%);
  font-size: 20px;
  opacity: 80%;
}

.right .star-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  background-color: #f7f2f8;
  width: 70%;
  padding: 8px;
  border-radius: 5px;
}
.right .star-item:nth-child(2) {
  margin-left: 50px;
}

.right .star-item:nth-child(3) {
  margin-left: 100px;
}
.right .star-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.right .star-item p {
  font-weight: bold;
  color: hsl(300, 43%, 22%);
}

.testimonial-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.testimonial-card {
  width: calc(30% - 40px);
  padding: 20px;
  background-color: hsl(300, 43%, 22%);
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 280px;
}

.user {
  display: flex;
  align-items: center;
}

.testimonial-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 8px;
}

.user-info {
  margin-bottom: 15px;
}

.user-info h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.user-info p {
  font-size: 1rem;
  color: hsl(333, 80%, 67%);
  margin-bottom: 5px;
}

.testimonial-card .testimonial-text {
  font-size: 1.2rem;
  line-height: 1.6;
}

.testimonial-section .testimonial-card:nth-child(2) {
  margin-top: 25px;
}
.testimonial-section .testimonial-card:nth-child(3) {
  margin-top: 50px;
}
@media (max-width: 700px) {
  body {
    background-image: url("./images/bg-pattern-top-mobile.svg"),
      url("./images/bg-pattern-bottom-mobile.svg");
    padding: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
  .left,
  .right {
    padding: 0;
    width: auto;
    margin: 10px;
  }

  .left h1 {
    font-size: 40px;
  }
  .right .star-item:nth-child(2) {
    margin-left: 0px;
  }

  .right .star-item:nth-child(3) {
    margin-left: 0px;
  }
  .right .star-item {
    width: 370px;
    padding: 3px;
    display: flex;
    flex-direction: column;
  }
  .testimonial-section {
    display: flex;
    flex-direction: column;
  }
  .testimonial-card {
    width: auto;
    margin-bottom: 15px;
  }
  .testimonial-section .testimonial-card:nth-child(2) {
    margin-top: 0;
  }
  .testimonial-section .testimonial-card:nth-child(3) {
    margin-top: 0;
  }
}
